body {
    margin: 0;
}

/* CSS di Page Edukasi */
#definition {
    background-color: #A8DADC;
    padding-top: 30px;
    padding-bottom: 30px;
}

#definition h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

#definition_inside {
    background-color: #457B9D;
    border-radius: 25px;
    width: 35%;
}

#definition_inside h6 {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: justify;
    padding: 10px 10px 10px 10px;
}
