{% extends 'edu_covid/base.html' %}
{% load static %}

{% block content %}
<head>
    <title>EDUKASI - EDUCOVID</title>
</head>
<body>
    <div class="container-fluid" id="definition">
        <h3>Apa itu COVID-19?</h3>
        <div class="container" id="definition_inside">
            <h6>COVID-19 adalah penyakit yang disebabkan oleh jenis coronavirus baru bernama SARS-CoV-2 dan  
                dilaporkan pertama kali di Wuhan, Tiongkok, pada bulan Desember tahun 2019. 
                COVID-19 telah dinyatakan pandemi dunia oleh WHO karena penyebarannya yang begitu cepat ke berbagai negara di dunia.</h6>
        </div>
    </div>
</body>
{% endblock %}